<ion-view view-title="{{titulo}}" hide-back-button="true">
  <ion-content>
	<div class="list card">
	  <div class="item item-avatar">
	    <img src="img/promociones/15.png">
	    <h2>Lubricante Lem</h2>
	    <p>06/02/2016 hasta 15/02/2016</p>
	  </div>
	  <div class="item item-body">
	    <img class="full-image" src="img/productos/promocion.png">
	    <p>
	      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	    </p>
	  </div>
	</div>
	<div class="list card">
		<div class="item item-avatar">
		    <img src="img/promociones/25.png">
		    <h2>Filtro Sol</h2>
		    <p>16/02/2016 hasta 21/02/2016</p>
	  	</div>
	  <div class="item item-body">
	    <img class="full-image" src="img/productos/promocion.png">
	    <p>
	      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	    </p>
	  </div>
	</div>
	<div class="list card">
	  <div class="item item-avatar">
	    <img src="img/promociones/20.png">
	    <h2>Aceite Kels</h2>
	    <p>06/02/2016 hasta 20/02/2016</p>
	  </div>
	  <div class="item item-body">
	    <img class="full-image" src="img/productos/promocion.png">
	    <p>
	      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	    </p>
	  </div>
	</div>
  </ion-content>
</ion-view>
