<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title" ng-click="alert('fafa')">{{pedido.cliente.nombres}} {{pedido.cliente.apellidos}}</h1>
        <button class="button button-clear button-primary ion-close-round" ng-click="editar.hide()"></button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="prod in pedidos"  class="item item-thumbnail-left item-remove-animate">
                <img src="img/productos/placeholder.png" />
                <h2>{{prod.nombre}}</h2>
                <p>Precio: {{prod.precio}}</p>
                <p>Cantidad: {{prod.cantidad}}</p>

            <ion-option-button class="button-dark icon ion-trash-b" ng-click="delProduct($index)">
            </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>