<ion-view view-title="{{titulo}}">
  <ion-content padding="true">
	<h5>Opciones vendedores</h5>
	<div class="button-bar">
	  <a class="button icon-top ion-thumbsup">Descuentos</a>
	  <a class="button icon-top ion-arrow-graph-up-right">Objetivos</a>
	  <a class="button icon-top ion-person">Perfil</a>
	</div>
  	<h5>Gestión comercial</h5>
	<div class="button-bar">
	  <a class="button icon-top ion-person-stalker">Clientes</a>
	  <a class="button icon-top ion-android-cart">Productos</a>
	  <a class="button icon-top ion-plus-circled">Pedidos</a>
	</div>
	<p></p>
	<div class="button-bar">
	  <a class="button button-assertive icon-top ion-paper-airplane">Enviar pedidos realizados</a>
	</div>
	<p></p>
	<div class="button-bar">
	  <a class="button button-dark icon-top ion-stats-bars">Estadísticas de venta</a>
	</div>
  </ion-content>
</ion-view>
