<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
    <button class="button button-clear button-primary ion-ios-arrow-back" ng-click="modal.hide()"> Cancelar</button>
        <h1 class="title">Nuevo pedido</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="marca in productos" class="item item-thumbnail-left item-remove-animate" ng-if="marca.stock" ng-click="productosXMarca($index)" >
                    <img ng-cache ng-src="{{marca.imagen}}"  />
                    <h2>{{marca.marca}}</h2>
                    <p>{{marca.descripcion}}</p>    
                    <p> Código: {{marca.codigo}}</p>    
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-tabs class="tabs-assertive tabs-icon-top">
      <ion-tab title="Procesar pedido" icon-on="ion-ios-checkmark" icon-off="ion-ios-checkmark-outline" ng-click="procesarPedido(pedido)">
      </ion-tab>
    </ion-tabs>
</ion-modal-view>