<ion-view view-title="Mis pedidos">
	<ion-content>
		<ion-list show-delete="false" can-swipe="true">
			<ion-item class="item-remove-animate" ng-repeat="pedido in mispedidos">
				{{pedido.codigo}}
				<p>Cantidad: {{pedido.cantidad}} | Linea: {{pedido.linea}} || {{pedido.$id}}</p>
				<ion-option-button class="button-stable icon ion-trash-a" ng-click="removePedido($index)"></ion-option-button>
				<ion-option-button class="button-dark icon ion-edit" ng-click="showEdit($index)"></ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-tabs class="tabs-assertive tabs-icon-only">

	  <ion-tab title="Nuevo pedido" icon-on="ion-plus-circled" icon-off="ion-plus-circled" ng-click="modal.show()">
	  </ion-tab>

	</ion-tabs>
</ion-view>
