<ion-view view-title="Mis pedidos">
	<ion-content>
		<ion-list show-delete="false" can-swipe="true">
			<ion-item class="item-remove-animate" ng-repeat="pedido in pedidosF" ng-if="pedido.productos && !pedido.procesado">
				<h2>{{pedido.cliente.nombres}} {{pedido.cliente.apellidos}}</h2>
				<p>{{pedido.fecha}}</p>
				<p>De: {{pedido.vendedor}}</p>
				<ion-option-button class="button-assertive icon ion-trash-a" ng-click="removePedido($index)"></ion-option-button>
				<ion-option-button class="button-dark icon ion-eye" ng-click="showEdit($index)"></ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-tabs class="tabs-assertive tabs-icon-top">

	  <ion-tab title="Nuevo pedido" icon-on="ion-plus-circled" icon-off="ion-plus-circled" ng-click="showNuevoPedido()">
	  </ion-tab>

	</ion-tabs>
</ion-view>
